* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../picture/background.png");
    z-index: -3;
}

.mainbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -2;
}

.top {
    width: 92vw;
    height: 8vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 30vw;
    font-size: 50px;
    color: rgba(65, 81, 83, 0.589);
    text-align: center;
    margin-right: 4vw;
}

#add-list {
    width: 60vw;
    height: 5vh;
    margin-right: 3vw;
    border-radius: 8px;
    border-color: rgba(255, 255, 255, 0.452);
}

#clear-btn {
    z-index: 6;
    width: 6vw;
    height: 5vh;
    border-radius: 8px;
    border-color: rgba(255, 255, 255, 0.452);
}

#clear-btn:active {
    border-color: rgba(255, 255, 255, 0);
}

.todo {
    display: flex;
    z-index: 3;
    width: 92vw;
    height: 88vh;
    position: relative;
}

.todo::after {
    content: "";
    width: inherit;
    height:  inherit;
    background: inherit;
    background-color: rgba(255, 255, 255, 0.452);
    filter: blur(2px);
    z-index: 0;
    position: absolute;
    
}

.cont {
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;

}

.content {
    height: 50%;
}

.content-up {
    border-bottom: 2px solid rgba(255, 255, 255, 0.815);
}

.items {
    width: inherit;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

.choosenav {
    display: flex;
    width: 18vw;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.479);
    text-align: center;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, 0.815);
}

.choosenav>span {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    writing-mode: vertical-lr;
}

.dContent {
    width: 80vw;
    margin: 0 5px 0 5px;
    overflow: auto;
}

.dContent li {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

.dContent::-webkit-scrollbar {
    width: 0px;
}

  .dlist {
      width: inherit;
      height: 6vh;
      list-style: none;
      background-color: rgba(255, 255, 255, 0.692);
      margin-top: 1vh;
  }

  .dlist a {
    margin-left: auto;
    margin-right: 12px;
    border: 1px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 32px;
    text-align: center;
    line-height: 12px;
    color: rgb(247, 66, 66);
    font-weight: bolder;
    cursor: pointer;
    background-color: rgba(37, 45, 46, 0.692)
  }

  .choose-box {
      width: 25px;
      height: 25px;
      margin: 0 5px 0 5px;
  }

  .donelist span {
      color: rgba(65, 81, 83, 0.589);
      text-decoration: line-through;
  }
